ion-content {
    --background: transparent; 
    background-image: url('/assets/images/fondo-agua-mar.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
  }

.perfil-footer {
background-color: #09456C;
position: fixed;
bottom: 0;
width: 100%;
}

.texto-footer {
text-align: center;
color: #ffffff;
font-family:Arial, Helvetica, sans-serif;
}

.texto-header {
    text-align: left;
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
  }

.header {
--background: #09456C;    
}


.acordeon-final {
  padding-bottom: 50px;
  --background-color: transparent; 
}

.icono {
  font-size: x-small;
  color:#09456C;
}

.text-center{
  text-align: center;
}

ion-avatar{
  margin: auto;
}

.item-avatar  {     
  width: 150px !important;  
  height: 150px !important;
  margin-top: 10px; 
}

.card {
  background-color: #c6e8ec;
  color: #09456C;
  text-align: justify;
  padding: 16px;
}

.title {
  color: #09456C;
  text-align: justify;
}

.list {
  background-color: #c6e8ec;
  color: #09456C;
  text-align: justify;
}

.ion-button {
  --background:#1CA39E;
  --color:#ffffff;
}

ion-radio {
  --color: #09456C;
  --color-checked: #09456C;
 
}

.card-div {
  background-color: #c6e8ec;
  color: #09456C;
  text-align: justify;
  padding-bottom: 20px;
}

.subtitle {
  color: #09456C;
  text-align: justify;
  padding-bottom: 5px;
}